html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    padding-top: 133px;
    font-family: sans-serif;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    color:#050A30;
    background-color: white;
    border-bottom: #050A30;
    border-bottom-width: 2.5px;
    border-bottom-style: solid;
  }

  .navbar-logo {
    margin: 0.5rem;
    max-width: 403.92px;
    max-height: auto;
  }

  .navbar-logo2 {
    display: none;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-links li {
    list-style: none;
    font-size: x-large;
  }

  .navbar-links1 a {
    text-decoration: none;
    color: #050A30;
    padding: 1rem;
    display: block;
  }

  .navbar-links1 a:hover {
    background-color: #40C0B9;
    border-radius: 100px;
    color: white;
  }

  .navbar-links2 a {
    background-color: #050A30;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    padding: 1rem;
  }

  .navbar-links2 a:hover {
    font-size: xx-large;
  }

  .toggle-button {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #050A30;
    border-radius: 10px;
  }

  .home-main-page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }

  .home-main-page-image-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(#A9BFFF, #050A30);
  }

  .home-main-page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .home-main-page-image-text {
    position: absolute;
    top: 2.5vw;
    text-align: center;
    width: 100%;
  }

  .we-help {
    color: white;
    font-size: 4.75vw;
  }

  .nurture-your {
    padding-top: 2rem;
    font-weight: 400;
    color: white;
    font-size: 4vw;
  }

  .home-main-page-image-button {
    position: absolute;
    top: 35vw;
    width: 18%;
  }

  .leadership-text button, .home-main-page-image-button-2 button, .promo-container button, .home-main-page-image-button {
    background-color: #40C0B9;
    font-size: large;
    padding: 1.5rem;
    border: none;
    margin-top: 1rem;
  }

  .leadership-text button a, .home-main-page-image-button a, .home-main-page-image-button-2 button a, .promo-container button a, td button a {
    text-decoration: none;
    color: white;
  }

  .leadership-text button:hover, .home-main-page-image-button:hover, .promo-container button:hover {
    box-shadow: 0 5px 15px white;
  }

  .home-main-page-image-button-2 button:hover {
    box-shadow: 0 5px 15px gray;
  }

  .home-main-page-image-button-2 {
    display:none;
  }

  .visit-connect-serve {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .visit-connect-serve-caption {
    inline-size: 197px;
    text-align: center;
  }

  .caption-1 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: x-large;
    font-weight: 800;
  }

  .caption-2 {
    font-size: large;
    padding-bottom: 1rem;
  }

  .image-1-scale {
    display: flex;
    justify-content: center;
  }

  .leadership {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#A9BFFF, #050A30);
    padding: 2rem;
  }

  .leadership-text h1 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
  }

  .leadership-text p {
    color: white;
    font-size: larger;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .leadership-text {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-attachment: fixed;
  }

  .video-responsive-wrapper {
    padding-top: 30px;
    width: 50%;
    height: 50%;
    padding-bottom: 30px;
  }

  .video-responsive {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: auto;
    overflow: hidden; 
  }

  .video-responsive iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050A30;
    color: white;
    width: 100%;
  }

  footer div a {
    text-decoration: none;
    color: white;
  }

  footer div a:hover {
    text-decoration: none;
    color: #40C0B9;
  }

  footer p, footer div {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
  }

  .pages-main {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pages-main-div {
    display: flex;
}

.image-container-headshot {
    height: auto;
    width: 3150px;
    margin: auto;
}

.image-container-headshot img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.paragraph {
    display: block;
    text-align: center;
    padding-left: 25px;
    font-size: large;
}

.paragraph div {
    padding-bottom: 1rem;
}

td {
  text-align: center;
  font-size: large;
  padding: 1rem;
}

.padding-top {
  padding-top: 10px;
}

th {
  background-color: #40C0B9;
  color: white;
  font-size: x-large;
}

table {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

td button {
  width: 100%;
  background-color: #050A30;
  font-size: large;
  padding: 1rem;
  border: none;
  border-style: solid;
  border-color: #40C0B9;
  border-width: 2px;
}

td button:hover, form button:hover {
  box-shadow: 0 5px 15px #40C0B9;
  font-size: larger;
}

.gray {
  background-color: #d9dbdb;
}

.white {
  color: white;
}

.flex-tables {
  display: flex;
  justify-content: space-between;
  background-color: #050A30;
}

.pages-main h2 {
  font-weight: normal;
  text-align: center;
  padding-top: 1.5rem;
}

.pages-main h3 {
  font-weight: normal;
  text-align: center;
}

.inline-widgets {
  display: flex;
  justify-content: space-between;
}

form {
  padding: 1rem;
  color: white;
  background-attachment: fixed;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

textarea {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  width: 100%;
  height: 30%;
}

form button {
  width: 100%;
  background-color: #050A30;
  font-size: large;
  padding: 1rem;
  border-style: solid;
  border-color: #40C0B9;
  border-width: 2px;
  color: white;
}

@media (max-width: 1025px) {
  .pages-main-div {
      flex-direction: column;
  }
  .image-container-headshot {
      height: 525px;
      width: auto;
  }
}

  @media (max-width: 950px) {
    body {
      padding-top: 77px;
    }
    .toggle-button {
      display: flex;
    }
    .navbar-links {
      display: none;
      width: 100%;
    }
    .navbar {
      flex-direction: row;
      align-items: flex-start;
    }
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
    .navbar-links li {
      text-align: center;
      font-size: large;
    }
    .navbar-links a {
      padding: .5rem 1rem;
    }
    .navbar-links.active {
      display: flex;
    }
    .navbar-logo {
      width: 201.96px;
    }
    .navbar-links2 a:hover {
      font-size: 1.5rem;
    }
    .navbar-links2 {
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }
    .home-main-page-image-button {
      display: none;
    }
    .home-main-page-image-button-2 {
      display:flex;
      align-items: center;
      justify-content: center;
    }
    .home-main-page-image-button-2 button {
      width: 50%;
      font-size: medium;
    }
    .visit-connect-serve {
      flex-direction: column;
      align-items: center;
    }
    .leadership {
      flex-direction: column;
      align-items: center;
    }
    .image-2-scale {
      max-height: 100%;
      max-width: auto;
    }
    .image-2-scale img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .leadership-text{
      width: 75%;
    }
    .nurture-your {
    padding-top: 1rem;
    }
    footer {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    footer p, footer div {
      padding: 0;
    }
    .flex-tables {
      flex-direction: column;
    }
    .inline-widgets {
      flex-direction: column;
    }
  }

  @media (max-width: 415px) {
    .image-container-headshot {
        height: 262.5px;
        width: auto;
    }
}

  @media (max-width: 281px) {
    .navbar-logo{
      display: none;
    }
    .navbar-logo2 {
      display: block;
      max-width: 75px;
      max-height: 75px;
    }
    .navbar-logo2 img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
