{{ define "main" }}
<main class="pages-main">
  <h1 class="pages-h1"><u>Resources</u></h1>
  {{ range (.Site.GetPage "section" "blog").Pages }}
    <div>
      <a href="{{.Permalink}}"><img src="{{ .Params.image }}" style="width: 640px; height: auto; max-width: 100%; padding-top: 1rem; padding-bottom: 1rem;"></a>
      <div>
        <a href="{{ .Permalink }}" style="text-decoration: none; color: black; font-size: xx-large;"><strong>{{ .Title }}</strong></a>
        <div style="padding-top: 0.5rem; font-size: x-large;">{{ .Date.Format "January 2, 2006" }}</div>
        <div style="padding-top: 0.35rem; font-size: x-large;">{{ if .Params.author }} Author: {{ .Params.author }}</div>{{end}}
      </div>
      <div style="padding-top: 1rem;">
        <div style="font-size: x-large;">{{ if .Params.tags }}Tags: {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" style="text-decoration: none; color: black; font-size: x-large;"><strong>{{ . }}</strong></a> {{end}}{{end}}</div>
        <div style="font-size: x-large;">{{ if .Params.categories }}Categories: {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" style="text-decoration: none; color: black; font-size: x-large;"><strong>{{ . }}</strong></a> {{end}}{{end}}</div>
      </div>
    </div>

  {{ end }}
</main>
{{ end }}