{{ define "main" }}
<main class="pages-main">
    <img src="{{ .Params.image }}" style=" display: inline-flex; width: 640px; height: auto; max-width: 100%; padding-top: 1rem; padding-bottom: 1rem; overflow: hidden;">
    <div>
      <h1 class="pages-h1">{{ .Title }}</h1>
      <div>
        <div style="padding-top: 0.35rem; font-size: x-large;">Author: {{ .Params.author }}</div>
        <div style="padding-top: 0.5rem; font-size: x-large;">{{ .Date.Format "January 2, 2006" }}</div>
      </div>
      <div style="padding-top: 1rem;">
        <div style="font-size: x-large;">{{ if .Params.tags }}Tags: {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" style="text-decoration: none; color: black; font-size: x-large;"><strong>{{ . }}</strong></a> {{end}}{{end}}</div>
        <div style="font-size: x-large;">{{ if .Params.categories }}Categories: {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" style="text-decoration: none; color: black; font-size: x-large;"><strong>{{ . }}</strong></a> {{end}}{{end}}</div>
      </div>
    </div>
  </div>
  <div style="padding-top: 2rem; text-align: justify; font-size: x-large;" class="paragraph">{{ .Content }}</div>
 <!-- Calendly badge widget begin -->
 <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
 <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
 <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/webnertia/strategy', text: 'Are you ready to learn more?', color: '#40C0B9', textColor: '#ffffff'}); }</script>
 <!-- Calendly badge widget end -->
</main>
{{ end }}