<!-- About Us Section -->
<main class="pages-main">
    <h1 class="pages-h1"><u>About Us</u></h1>
    <div class="pages-main-div">
        <div class="image-container-headshot">
            <img src="/images/headshot.jpeg" alt="photo of the founder">
        </div>
        <div class="paragraph">
            <p>
                <div>Bryce grew up in a ministry home in New Jersey, where he could see the impact of the gospel first-hand. He was significantly impacted by his youth pastor throughout his teenage years, which ignited a passion for seeing others grow in their walk with the Lord.</div>
                <div>Bryce graduated from college in 2011 with a Bible degree. Upon graduation, he returned to New Jersey, where he taught in a Christian School as a Bible and history teacher from 2011-2015. In 2015 he was presented with the opportunity to serve at the Wilds Christian Camp in North Carolina, where he met his wife, Jaynie. In the fall of 2016, Bryce followed the Lord's leading to Wisconsin to serve as the youth pastor at Brookside Baptist Church. He was ordained to the gospel ministry on May 26, 2018.</div>
                <div>After four years of ministry at Brookside Baptist Church, Bryce and Jaynie left Wisconsin to assist in The Chapel Church ministry. Bryce and Jaynie desire to see believers discipled and living faithful, fruitful lives for the glory of God.</div>
                <div>After spending time at The Chapel Church, Bryce saw a great need to equip his own pastor with tools that would help him optimize his communication and give him the peace of mind that everyone who walked through the church's doors would be led from first contact to church membership and beyond. Now, Bryce has a passion for sharing those same strategies with pastors and church leaders to help them optimize their communication and lead the people of their church and community.</div>
            </p>
        </div>
    </div>

    <!-- Calendly badge widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/webnertia/strategy', text: 'Are you ready to learn more?', color: '#40C0B9', textColor: '#ffffff'}); }</script>
    <!-- Calendly badge widget end -->
</main>