<!-- Contact Us Form -->
<main class="pages-main">
    <h1 class="pages-h1"><u>Contact Us</u></h1>
    <h2>Send Us A Message Or Book A Call Below</h2>
    <div>
    <div class="inline-widgets">
        <form name="contact" method="post" data-netlify="true" style="background-image: url(/images/background-image.png)">
            <h2><b>How Can We Help You Reach Your Community?</b></h2>
            <label for="fullname"><input type="text" name="fullname" id="fullname" required placeholder="Full Name"></label><br>
            <label for="email"><input type="email" name="email" id="email" required placeholder="Email"></label><br>
            <label for="tel"><input type="tel" name="tel" id="tel" required placeholder="Phone #"></label><br>
            <label for="message"><textarea name="message" name="message" id="message" placeholder="Send Us A Message"></textarea></label><br>
            <button type="submit">Submit</button>
        </form>
        <!-- Calendly inline widget begin -->
        <div>
            <div class="calendly-inline-widget" data-url="https://calendly.com/webnertia/strategy" style="height:630px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <!-- Calendly inline widget end -->
        </div>
    </div>
    </div>
</main>
