<!-- Pricing Table -->
<main class="pages-main">
    <h1 class="pages-h1"><u>Get Started</u></h1>
    <div class="flex-tables">
        <div></div>
        <table>
            <thead>
                <tr>
                    <th width="550" height="75">The Church Member's Journey All Access</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td height="50" class="white">✅Access the Church Member's Journey Software Platform</td>
                </tr>
                <tr>
                    <td height="50" class="gray">✅Initial Activation</td>
                </tr>
                <tr>
                    <td height="50" class="white">✅Done-For-You Automation Templates</td>
                </tr>
                <tr>
                    <td height="50" class="gray">❌Setup Assistance</td>
                </tr>
                <tr>
                    <td height="50" class="white">❌Step-By-Step How-To Course</td>
                </tr>
                <tr>
                    <td height="50" class="gray">❌Newsletter Topic Suggestions</td>
                </tr>
                <tr>
                    <td height="50" class="white">❌Access To Ongoing Content As We Add It To The Course</td>
                </tr>
                <tr>
                    <td height="100" class="td-padding gray"><b>$54.99/month</b></td>
                </tr>
                <tr>
                    <td><button><a href="https://buy.stripe.com/8wMaFxglIaD9b8k9AA" target="_blank">Get Started With All Access</a></button></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th width="550" height="75">The Church Member's Journey Pro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td height="50" class="white">✅Access the Church Member's Journey Software Platform</td>
                </tr>
                <tr>
                    <td height="50" class="gray">✅Initial Activation</td>
                </tr>
                <tr>
                    <td height="50" class="white">✅Done-For-You Automation Templates</td>
                </tr>
                <tr>
                    <td height="50" class="gray">✅Setup Assistance</td>
                </tr>
                <tr>
                    <td height="50" class="white">✅Step-By-Step How-To Course</td>
                </tr>
                <tr>
                    <td height="50" class="gray">✅Newsletter Topic Suggestions</td>
                </tr>
                <tr>
                    <td height="50" class="white">✅Access To Ongoing Content As We Add It To The Course</td>
                </tr>
                <tr>
                    <td height="100" class="td-padding gray"><b>$397 (one time)<div class="padding-top">$54.99/month</div></b></td>
                </tr>
                <tr>
                    <td class="no-border"><button><a href="https://members.thechurchmembersjourney.com/offers/650975f9-574e-41ea-bc85-f7aff559437a" target="_blank">Get Started With Pro</a></button></td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </div>

     <!-- Calendly badge widget begin -->
     <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
     <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
     <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/thechurchmembersjourney/strategy-session', text: 'Are you ready to learn more?', color: '#40C0B9', textColor: '#ffffff'}); }</script>
     <!-- Calendly badge widget end -->
</main>