<!-- Main Image on Home Page -->
<section class="home-main-page-image-cover">
    <img src="images/Home Page Main Image.svg" alt="main page image" class="home-main-page-image">
    <h2 class="home-main-page-image-text"><div class="we-help">We help church leaders lead<br>first-time guests to become thriving<br>church members and beyond.</div><div class="nurture-your">Nurture your community to connect with your<br>church by meeting them where they are.</div></h2>
    <button class="home-main-page-image-button"><a href="#promo">How It Works</a></button>
</section>

<!-- Custom Button Designed for Small Screens -->
<section class="home-main-page-image-button-2">
    <button><a href="#promo">How It Works</a></button>
</section>

<!-- Visit-Connect-Serve Section -->
<section class="visit-connect-serve">
    <div></div>
    <div>
        <div width="197" class="image-1-scale">
            <img src="images/Place.png" alt="place image">
        </div>
        <figcaption class="visit-connect-serve-caption">
            <div class="caption-1">Plan A Visit</div>
            <div class="caption-2">Let your guests know what to expect when they arrive and continuously engage with them through gospel content.</div>
        </figcaption>
    </div>
    <div>
        <div width="197" class="image-1-scale">
            <img src="images/Connect.png" alt="connect image">
        </div>
        <figcaption class="visit-connect-serve-caption">
            <div class="caption-1">Connect</div>
            <div class="caption-2">Once a guest connects with your church, continually educate them on what you believe and how they can be a part of your community.</div>
        </figcaption>
    </div>
    <div>
        <div width="197" class="image-1-scale">
            <img src="images/Serve.png" alt="serve image">
        </div>
        <figcaption class="visit-connect-serve-caption">
            <div class="caption-1">Serve</div>
            <div class="caption-2">Keep your members up-to-date and engaged through effective communication.</div>
        </figcaption>
    </div>
    <div></div>
</section>

<!-- Leadership Section -->
<section>
    <div class="leadership">
        <div></div>
        <div></div>
        <div></div>
        <div>
            <div class="image-2-scale">
                <img src="images/hand shake.png" alt="hand shake picture">
            </div>
        </div>
        <div class="leadership-text">
            <h1>DEVELOPED BY A PASTOR FOR PASTORS (AND OTHER CHURCH LEADERS)</h1>
            <p>We know the struggles church leaders face regarding effective, efficient communication. You want to make sure to touch the lives of every single person that walks into your church, but you wear an insane number of hats! You have probably, like me, felt discouraged at times, knowing that another first-time guest "slipped through the cracks."</p>
            <p>That's why we developed The Church Member's Journey. We wanted a way to clearly and consistently shepherd everyone who came into our church from the moment of first contact to church membership and beyond. We desire to equip you with the tools and processes you need to consistently invite your community into a relationship with your church as well.</p>
            <button><a href="#promo">Learn More</a></button>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<!-- Promo Video Section -->
<section class="promo-container" id="promo" style="background-image: url(images/background-image.png)">
    <div class="video-responsive-wrapper">
        <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/oUYmFrJxxIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="promo"></iframe>
        </div>
        <div class="button-wrapper">
            <button><a href="/get_started">Let's Get Started</a></button>
        </div>
    </div>
</section>

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/thechurchmembersjourney/strategy-session', text: 'Are you ready to learn more?', color: '#40C0B9', textColor: '#ffffff'}); }</script>
<!-- Calendly badge widget end -->